*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgba(255, 255, 255, 0.932);
}

/*Navigation bar*/
.navbar{
    width: 100%;
    height: 30%;
    background-color:rgba(241, 247, 247, 0.507);
    display: flex;
    align-items: center;
    position: sticky;
}

.logo img{
    margin-left:0.5cm;
    margin-right: 1cm;
    width:120px ;
    height:100px;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none; /*omiting the bullets of each list items*/
    font-size:smaller;
}
.navbar ul li a{
    color: black;
    display: block;
    padding: 3px 15px;
    border-radius: 20px;
    text-decoration: none; /*omiting the underlines in each list items*/
    font-size: 20px;
}
.navbar ul li a:hover{
    color:white;
    background-color:black;
}
.searchbar{
    margin-left: 15vw;
    align-items: center;
}
.searchbar input{
        width: 15vw;
        height: 27px;
        border-radius: 8px;
        margin: 0 10px;
        padding: 5px 50px;
        align-items: center;
}
.searchbar button{
    padding: 5px 8px;

}


/* home section*/
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 150px;
}
 .home::before{  /*seudo selectors */
    content: "";
    position: absolute;
    background-image: url('images/food-g967b6dc84_1280.jpg');
    height:70%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.heading{
    padding: 6px;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgb(27, 0, 0);/* horaizontal,vertical shadow , blur effect,color*/
    animation: color_change 5s infinite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@keyframes color_change{
    0%{color: rgb(51, 207, 3);}
    50%{color:gold}
    100%{color: aqua;}
}
.home p{
    color: rgb(97, 4, 4);
    font-size: 35px;
    padding:12px ;
    animation: color_change 5s infinite;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 5px 5px 10px rgb(27, 0, 0);
}
.btn{
    margin-top: 20px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.63);
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.btn a{
    color: white;
    text-decoration: none;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.938); /*changing the bg color of button*/

}
/*services section*/
.services{
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    
}
.heading2{
    font-size: 40px;
    padding: 12px;
    margin-top: 90px ;
    margin-left: 550px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.servicebox{
    display: flex;
}
.services .box{
    border: 2px solid brown;
    border-radius: 20px;
    width: 400px;
    height:300px ;
    display: block;
    margin: auto;
    padding: 15px;
    text-align: center;
    background-color: rgb(241, 207, 207);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.services .box img{
height: 190px;
width: 330px;
display: block;
margin: auto;
padding: 20px;
}

/*client section*/

.client{
    display: block;
    margin: auto;
    background-image: url('images/food-g6c23309ba_1280.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.heading3{
    margin: 30px;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.client_img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    
}
.client_img img{
    height: 90px;
    margin-bottom: 30px;
    padding: 0px 20px;
}
/* contact section */
.contact{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: auto;
    height: auto;
    background-color: aquamarine;
    margin-top: 10px;
    padding: 10px;
}
.con_details{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0px;
}
.contact img{
    width:40px;
    height: 40px;
    margin: 10px 30px;
}
/* .contact .img1{
    margin-right: 200px;
}
.contact .img2{
    margin-right: 200px;
} */


footer{
    background-color: black;
    text-align: center;
    font-size: 10px;
    padding-top: 9px;
    margin-top: 9px;
    height: 50px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


