
@import url('https://fonts.googleapis.com/css2?family=Praise&family=Roboto:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url('images&music/snake.jpg');
    background-size: 100vw 100vh;
    
    }
.heading{
    text-align: center;
    margin-top: 20px;
    font-family: 'Praise', cursive;
    font-size: 20px;
}
.game{
    display: flex;
    align-items: center;
    justify-content: center;
}
#scoreBox{
    position: absolute;
    top:15px;
    right: 200px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Praise', cursive;
}
#hiScoreBox{
    position: absolute;
    top:55px;
    right: 200px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Praise', cursive;
}
#board{
    background: linear-gradient(rgb(154, 243, 154),rgb(243, 243, 148));
    width: 40vw;
    height: 80vh;
    margin-top: 40px;
    margin-right: 110px;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}
 .head{                         /*snake head */
    background: linear-gradient(red,yellow);
    border: 2px solid purple;
    border-radius: 8px;
}
.snake{                         /*snake body */
background-color: rgb(243, 184, 21);
border: 2px solid rgb(10, 10, 10);
border-radius: 10px;

}
.food{                          /*snake food */
    background: linear-gradient(yellow,green);
    border: 2px solid white;
    border-radius: 8px;

}